.detailsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 70%; 
    /* height: 50%; */
 } 
.title{
  
    font-size: 20px;
    font-weight: 700;
    color: blue;
}
.description{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
}
.price{
    font-size: 16px;
    color: green;
    font-weight: bold;
}